version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    # --- THIS IS THE MISSING PIECE ---
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # ---------------------------------
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A budget worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    # Celery also needs to reach the DB on your laptop!
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis